.author-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333e48;
  width: 100%;
  max-width: 150px;
  padding-bottom: 16px;
}

.author-item__buttons {
  display: flex;
  gap: 8px;
}

.author-item__name {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.author-item__button.btn-primary {
  min-width: 13px;
  height: 13px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: transparent;
  position: relative;
}

.author-item__button::before {
  content: "";
  width: 13px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.author-item__button--add::before {
  background-image: url("../../../assets/images/add.png");
}

.author-item__button--delete::before {
  background-image: url("../../../assets/images/trash.png");
}
