.header {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0 36px;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__user {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #333e48;
}

.header__button {
    width: 140px;
    height: 50px;
    padding: 13px 36px;
}
