@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

main {
  background: #f5f6f8;
  min-height: calc(100vh - 80px);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
