.search-bar {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search-bar__input {
    width: 400px;
    height: 50px;
    padding: 0 16px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333e48;
    box-sizing: border-box;
}

.search-bar__input::placeholder {
    color: #cfcfcf;
}

.search-bar__button {
    width: 148px;
    height: 50px;
}
